@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.adminPages-container {
  width: 98%;
  margin: 3rem auto;
  background-color: #f7f5f5;
  // background-color: #c4dbe0;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  @include flex(row, space-between, stretch);
}

.__react_component_tooltip {
  background-color: #333;
  color: #fff;
}

.admin_navbar {
  @include flex(row, space-between, center);
  padding: 1rem;
}

.bi.bi-power {
  cursor: pointer;
  font-size: xx-large;
  color: red;
  background-color: #f0f0f0;
  border-radius: 7px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transition: 250ms;
}

.bi.bi-power:active {
  box-shadow: rgb(226, 226, 226) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  color: #ff9a47;
}

// Table in admin product
.products-table-container {
  direction: rtl;
  padding: 1rem;
  @include flex(column, center, center);
  row-gap: 1em;
  border-collapse: separate;
}

.products-table {
  border: 1px solid #feffe0;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.products-table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

.products-table tr {
  background-color: #f7f3ee;
  border: 1px solid #f5ffda;
  padding: 0.35em;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.products-table th,
.products-table td {
  padding: 0.625em;
  text-align: center;
}

.products-table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  background-color: #e7e7de;
  cursor: pointer;
}

.action-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2em;
  i {
    cursor: pointer;
  }
  .bi-trash3-fill {
    color: tomato;
    margin-left: 2em;
  }
  .bi-wrench-adjustable {
    color: #06a568;
  }
}

@media screen and (max-width: 600px) {
  .products-table {
    border: 0;
  }

  .products-table caption {
    font-size: 1.3em;
  }

  .products-table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .products-table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .products-table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .products-table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .products-table td:last-child {
    border-bottom: 0;
  }
}

#data-image {
  width: 3rem;
}

// AdminSideBarMenu component

.sidebar {
  width: max-content;
  padding: 0 0.5em;
  // height: 24.5em;
  position: sticky;
  left: 0.5em;
  @include flex(column, center, null);
  cursor: pointer;
  background: #d0fdf921;
  transition: 250ms;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: -20px 0px 25px 0px rgba(128, 128, 128, 0.28);
}

.sidebar:hover {
  cursor: pointer;
}

.navigations-links {
  @include flex(column, center, center);
  row-gap: 2em;
  padding: 0.625rem 0;
}

.sidebar_menu-title {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #333;
  padding-bottom: 0.325rem;
}

// Add new product btn
.pagination-addNewItemBtn {
  @include flex(row, space-between, center);
  width: 100%;
}
.Add-new-product {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Vazir", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 0 1em;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 15px;
}

.Add-new-product:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.Add-new-product:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.Add-new-product:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

@media (max-width: 600px) {
  .adminPages-container {
    flex-direction: column;
  }

  .sidebar,
  .navigations-links {
    flex-direction: row;
  }

  .sidebar {
    max-height: 4em;
    width: 100%;
    margin-top: 1em;
    justify-content: space-between;
    border-radius: 7px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    h3 {
      width: max-content;
      margin: 0;
      padding: 0;
    }
    .navigations-links {
      column-gap: 1.5em;
    }
  }

  .sidebar_menu-title {
    border-bottom: none;
  }
}

// AddEditProduct component

.Add-Edit-container {
  @include flex(row, center, center);
  width: 90%;
  .Add-Edit-wrapper {
    @include flex(column, center, center);
    row-gap: 2em;
    background-color: #e7e7de;
    padding: 2em;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .Add-Edit-header {
      width: 100%;
      @include flex(row, space-between, center);
      i {
        cursor: pointer;
        color: rgb(170, 61, 49);
      }
    }
    form {
      text-align: center;
      div,
      input {
        margin-bottom: 1em;
      }
      input[type="file"] {
        appearance: none; /* Remove default styles */
        background-image: radial-gradient(
          100% 100% at 100% 0,
          #5adaff 0,
          #54b2ff 100%
        );
        color: white; /* Set text color to white */
        border-radius: 5px; /* Set border radius to 5px */
        padding: 8px 12px; /* Adjust padding as needed */
        border: none; /* Remove border */
        cursor: pointer; /* Show pointer cursor on hover */
      }

      #product-name-input-field {
        appearance: none;
        border: 1px solid gray;
        width: 90%;
        padding: 0.3em;
        border-radius: 7px;
      }
    }
  }
}

.uploader-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 0.3em;
  background-color: #f7fde73f;
  padding: 0.3;
  border-radius: 7px;
  img {
    width: 3em;
    border-radius: 50%;
  }
}

.gallery-photo {
  position: relative;
  display: inline-block;
  .bi-x-lg {
    position: absolute;
    display: none;
    left: 70%;
    bottom: 70%;
    color: red;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    font-size: large;
    font-weight: bolder;
    &:hover {
      opacity: 0.8;
    }
  }
  &:hover i {
    display: block;
  }
}

.AddProduct-SelectOption {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

// InventoryAndPrices component

.InventoryAndPrices,
.AdminOrdersPage {
  @include flex(column, center, center);
  row-gap: 2em;
  width: 90%;
  padding: 1.3em;
  margin: auto;
}

.InventoryAndPrices-head-title,
.AdminOrdersPage-head-title {
  width: inherit;
  @include flex(row, space-between, center);
}

//AdminOrdersPage

.AdminOrdersPage-delivery-status {
  display: flex;
  column-gap: 1em;
  position: relative;
}

// DeliveryModal

#DeliveryModal {
  position: absolute;
  background-color: #ddd;
  width: 40%;
  padding: 1rem;
  border-radius: 7px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  font-size: small;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1em;
}

.DeliveryModal_head-title {
  width: 100%;
  @include flex(row, space-between, center);
  i {
    cursor: pointer;
    color: #cf4128;
  }
}

.Delivery_info {
  align-self: flex-start;
}

// Delete Modal Container

.deleteModalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  img {
    width: 50%;
  }
  button {
    cursor: pointer;
    outline: none;
    color: #fff;
    border: 1px solid rgb(145, 145, 145);
    border-radius: 4px;
    background-color: #cf4128;
    width: 40%;
  }
  #confrim-btn_delete-Modal {
    margin-bottom: 0.5em;
    background-color: #06a568;
  }
}

.editModalContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5em;
  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
  .editModalContainer_rightSide,
  .editModalContainer_leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
  }
  img {
    width: 10rem;
    @media (max-width: 300px) {
      width: 5rem;
    }
  }
  button {
    min-width: 100%;
    padding: 0.2rem;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: 1px solid rgb(145, 145, 145);
    border-radius: 4px;
    background-color: #cf4128;
    @media (max-width: 300px) {
    }
  }
  form {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    width: 100%;
    input {
      width: 100%;
    }
    #confrim-btn_delete-Modal {
      background-color: #06a568;
    }
  }
}

// pagination nav => ul
.page-link {
  cursor: pointer;
  z-index: 0;
}
