.header-container {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 0.5rem;
  background-color: #fff;
  box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.1);
}

.topHeadr,
#header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.logoAndName a,
.user-pages {
  display: flex;
  align-items: center;
}

#imgLogo {
  width: 5rem;
}

.header_search-bar {
  background-color: rgb(249, 249, 249);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  padding: 0.7rem;
  border-radius: 17px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
}

.header_search-bar:hover {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#search-field {
  outline: none;
  border: none;
  background: inherit;
  width: 100%;
}

.user-pages {
  gap: 1rem;
  justify-content: space-between;
  .profile-page,
  .cart-page,
  .comparison-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 9px 10px;
    border-radius: 50%;
    transition: 350ms;
    position: relative;
    color: black;
    i {
      font-size: large;
    }
    small {
      position: absolute;
      top: 0.1rem;
      right: 0.6rem;
      background-color: rgb(255, 196, 0);
      border-radius: 50%;
      padding: 0 3px;
      text-align: center;
      font-size: smaller;
    }
  }
  .profile-page:hover,
  .cart-page:hover,
  .comparison-page:hover {
    // box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.26);
    box-shadow: rgba(0, 0, 0, 0.178) 0px 5px 15px;
    background-color: rgba(255, 255, 240, 0.575);
    transform: translateY(-5px);
    i {
      color: tomato;
    }
  }
}

#header-menu {
  padding-bottom: 1rem;
}

.headerMenu-container {
  display: flex;
  justify-content: center;
  position: relative;
  .headerMenu-rightSide {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
  }
}

#header_drop-down {
  cursor: pointer;
  color: rgb(44, 44, 41);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: inherit;
  position: relative;
  i {
    position: absolute;
    left: -1.2rem;
    top: 0.3rem;
  }
}

#header_drop-down:hover {
  color: seagreen;
}

.header_category-dropDown-container {
  position: absolute;
  background-color: #fafffe;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  gap: 1rem;
  top: 2rem;
  min-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .category-dropDown-rightSide {
    img {
      width: 15rem;
    }
    // border-left: 1px solid darkgoldenrod;
  }

  .category-dropDown-leftSide {
    flex-direction: row;
    gap: 3rem;
    padding: 0 1rem;
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
      }
    }
    h4 {
      padding-bottom: 4px;
      // border-bottom: 1px solid gray;
    }
    a:hover {
      color: seagreen;
    }
  }
}

@media (max-width: 630px) {
  .header_search-bar {
    display: none;
  }
  .header_category-dropDown-container {
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .headerMenu-rightSide {
    font-size: 0.8rem;
  }
  .user-pages {
    span {
      font-size: 0.9rem;
    }
  }
}